<!--The content below is only a placeholder and can be replaced.-->
<h2>
  OpenLayer Map for Angular as a test
</h2>
<button (click)="addMarkerOnMap()">Add marker layer</button>
<button (click)="removeMarkerOnMap()">remove marker layer</button>
<button (click)="addLineLayerOnMap()">add lineLayer layer</button>
<button (click)="removeLineLayerOnMap()">remove lineLayer layer</button>
<!--<button (click)="addInteractionOnMap()">add interaction on map</button>-->
<app-test-map [config]="config" [markers]="markers" #testMap></app-test-map>
<br>
<app-interactive-map></app-interactive-map>
